# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Bachelor_2020_LTS.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\Bachelor_2020_LTS\.idea\.idea.Bachelor_2020_LTS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
